/*@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");*/

* {
  box-sizing: border-box;
}

:root {
  --app-bg-dark: #01081f;
  --app-bg-before: linear-gradient(
    180deg,
    rgba(1, 8, 31, 0) 0%,
    rgba(1, 8, 31, 1) 100%
  );
  --app-bg-before-2: linear-gradient(
    0deg,
    rgba(1, 8, 31, 0) 0%,
    rgba(1, 8, 31, 1) 100%
  );
  --app-bg-light: #151c32;
  --app-logo: #3d7eff;
  --nav-link: #5e6a81;
  --nav-link-active: #fff;
  --list-item-hover: #0c1635;
  --main-color: #fff;
  --secondary-color: #5e6a81;
  --color-light: rgba(52, 129, 210, 0.2);
  --warning-bg: #ffe5e5;
  --warning-icon: #ff8181;
  --applicant-bg: #e3fff1;
  --applicant-icon: #61e1a1;
  --close-bg: #fff8e5;
  --close-icon: #fdbc64;
  --draft-bg: #fed8b3;
  --draft-icon: #e9780e;
}

body {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  background-color: #050e2d;
}

.app-container {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  
}

.app-left {
  flex-basis: 240px;
  background-color: var(--app-bg-dark);
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 24px 0;
  transition: all 0.4s ease-in;

  &.show {
    right: 0;
    opacity: 1;
  }
}

.app-main {
  flex: 1;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: var(--app-bg-light);
  padding: 24px;
  box-sizing: border-box;
  background: radial-gradient(
      circle,
      rgba(5, 19, 64, 1) 1%,
      rgba(4, 15, 50, 1) 100%
  );
}

/* Additional media queries for responsiveness */
@media (max-width: 768px) {
  .app-main {
      padding: 16px;
  }
}

@media (max-width: 480px) {
  .app-main {
      padding: 12px;
  }
}
.app-right {
  flex-basis: 320px;
  width: 320px;
  background-color: var(--app-bg-dark);
  height: 100%;
  padding: 64px 0 0 0;
  display: flex;
  flex-direction: column;
  position: relative;
  transition: all 0.4s ease-in;

  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    height: 48px;
    width: 100%;
    background-image: var(--app-bg-before);
    z-index: 1;
  }

  &.show {
    right: 0;
    opacity: 1;
  }

  .close-right {
    display: none;
  }
}
/* Increase the scaling for larger screens */
@media (min-width: 1200px) {
  .app-container {
    transform: scale(1
    ); /* Adjust the scale value as needed */
  }
}


.app-right-content {
  flex: 1;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.app-logo {
  display: flex;
  align-items: center;
  color: var(--app-logo);
  margin-right: 16px;
  padding: 0 24px;

  span {
    color: #fff;
    display: inline-block;
    line-height: 24px;
    font-size: 16px;
    margin-left: 16px;
  }
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

.nav-list {
  margin-top: 40px;
}

.nav-list-item {
  margin-bottom: 12px;

  &:not(.active):hover {
    background-color: var(--list-item-hover);
  }

  &.active {
    .nav-list-link {
      color: var(--nav-link-active);

      &:after {
        height: 100%;
        opacity: 1;
      }
    }

    svg {
      stroke: var(--app-logo);
    }
  }
}

.nav-list-link {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  padding: 8px 24px;
  color: var(--nav-link);
  display: flex;
  align-items: center;
  position: relative;

  svg {
    margin-right: 12px;
  }

  &:after {
    content: "";
    height: 100%;
    width: 2px;
    background-color: var(--app-logo);
    right: 0;
    top: 0;
    position: absolute;
    border-radius: 2px;
    opacity: 0;
    height: 0;
  }
}

.open-right-area {
  display: none;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: var(--app-bg-dark);
  border-radius: 4px;
  height: 40px;
  width: 40px;
  padding: 0;
}

.main-header-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;

  h1 {
    color: var(--main-color);
    margin: 0;
    font-size: 24px;
    line-height: 32px;
  }

  input {
    border-radius: 4px;
    background-color: var(--color-light);
    border: none;
    border: 1px solid var(--color-light);
    color: var(--main-color);
    height: 32px;
    padding: 0 8px 0 32px;
    font-size: 14px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%233481d2' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-search'%3E%3Ccircle cx='11' cy='11' r='8'/%3E%3Cline x1='21' y1='21' x2='16.65' y2='16.65'/%3E%3C/svg%3E");
    background-position: center left 10px;
    background-repeat: no-repeat;
    background-size: 16px;
    outline: none;
    transition: 0.2s;
    width: 100%;
    max-width: 400px;
    margin-left: 16px;

    &:placeholder {
      font-size: 14px;
      color: rgba(255, 255, 255, 0.6);
    }

    &:hover,
    &:focus {
      border: 1px solid #3481d2;
      box-shadow: 0 0 0 3px var(--color-light);
    }
  }
}

.chart-row {

  display: flex;
  justify-content: space-between;
  margin: 0 -8px;

  &.three .chart-container-wrapper {
    width: 33.3%;

    .chart-container {
      justify-content: space-between;
      height: 8em;
    }
  }

  &.two {
    .big {
      flex: 1;
      max-width: 77.7%;

      .chart-container {
        flex-direction: column;
      }
    }

    .small {
      width: 33.3%;

      .chart-container {
        flex-direction: column;

        +.chart-container {
          margin-top: 16px;
        }
      }
    }
  }
}

.line-chart {
  width: 100%;
  margin-top: 24px;
}

.chart-container {
  width: 100%;
  border-radius: 10px;
  background-color: var(--app-bg-dark);
  padding: 16px;
  display: flex;
  align-items: center;

  &.applicants {
    max-height: 336px;
    overflow-y: auto;
  }
}

.program-container {
  width: 100%;
  border-radius: 10px;
  background-color: var(--app-bg-dark);
  padding: 16px;
  display: flex;
  min-height: 300px;
 

  &.applicants {
    max-height: 336px;
    overflow-y: auto;
  }
}

.chart-container-wrapper {
  padding: 8px;
}

.chart-info-wrapper {
  flex-shrink: 0;
  flex-basis: 120px;

  h2 {
    color: var(--secondary-color);
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 0 8px 0;
  }

  span {
    color: var(--main-color);
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
  }
}

.chart-svg {
  position: relative;
  max-width: 90px;
  min-width: 40px;
  flex: 1;
}

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 1.2;
}

.circle {
  fill: none;
  stroke-width: 1.6;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

.circular-chart {
  &.orange {
    .circle {
      stroke: #ff9f00;
    }

    .circle-bg {
      stroke: #776547;
    }
  }

  &.blue {
    .circle {
      stroke: #00cfde;
    }

    .circle-bg {
      stroke: #557b88;
    }
  }

  &.pink {
    .circle {
      stroke: #ff7dcb;
    }

    .circle-bg {
      stroke: #6f5684;
    }
  }
}

.percentage {
  fill: #fff;
  font-size: 0.5em;
  text-anchor: middle;
  font-weight: 400;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.chart-container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 12px;

  h2 {
    margin: 0;
    color: var(--main-color);
    font-size: 12px;
    line-height: 16px;
    opacity: 0.8;
  }

  span {
    color: var(--app-logo);
    font-size: 12px;
    line-height: 16px;
  }
}

.acquisitions-bar {
  width: 100%;
  height: 4px;
  border-radius: 4px;
  margin-top: 16px;
  margin-bottom: 8px;
  display: flex;
}

.bar-progress {
  height: 4px;
  display: inline-block;

  &.applications {
    background-color: rgba(255, 125, 203, 1);
  }

  &.shortlisted {
    background-color: rgba(0, 207, 222, 1);
  }

  &.on-hold {
    background-color: rgba(253, 172, 66, 1);
  }

  &.rejected {
    background-color: rgba(255, 92, 92, 1);
  }
}

.progress-bar-info {
  display: flex;
  align-items: center;
  margin-top: 8px;
  width: 100%;
}

.progress-color {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 8px;

  &.applications {
    background-color: rgba(255, 125, 203, 1);
  }

  &.shortlisted {
    background-color: rgba(0, 207, 222, 1);
  }

  &.on-hold {
    background-color: rgba(253, 172, 66, 1);
  }

  &.rejected {
    background-color: rgba(255, 92, 92, 1);
  }
}

.progress-type {
  color: var(--secondary-color);
  font-size: 12px;
  line-height: 16px;
}

.progress-amount {
  color: var(--secondary-color);
  font-size: 12px;
  line-height: 16px;
  margin-left: auto;
}

.applicant-line {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 12px;

  img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
    flex-shrink: 0;
  }
}

.applicant-info {
  span {
    color: var(--main-color);
    font-size: 14px;
    line-height: 16px;
  }

  p {
    margin: 4px 0;
    font-size: 12px;
    line-height: 16px;
    color: var(--secondary-color);
  }
}

.profile-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    top: 100%;
    height: 48px;
    width: 100%;
    background-image: var(--app-bg-before-2);
    z-index: 1;
  }
}

.profile-photo-wrapper {
  width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 16px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.profile-text,
.profile-subtext {
  font-size: 12px;
  line-height: 16px;
  color: var(--secondary-color);
  margin: 0 0 8px 0;
}

.profile-text {
  font-weight: 600;
}

.app-right-section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  margin-top: 16px;

  h2 {
    font-size: 14px;
    line-height: 24px;
    color: var(--secondary-color);
  }

  span {
    display: inline-block;
    color: var(--secondary-color);
    position: relative;

    &.notification-active:before {
      content: "";
      position: absolute;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: var(--app-logo);
      top: -1px;
      right: -1px;
      box-shadow: 0 0 0 2px var(--app-bg-dark);
    }
  }
}

.message-line {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  margin-bottom: 8px;
  min-height: 100px;

  &:hover {
    background-color: var(--list-item-hover);
  }

  img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 8px;
  }
}

.message-text-wrapper {
  max-width: calc(100% - 48px);
}

.message-text {
  font-size: 14px;
  line-height: 16px;
  color: var(--main-color);
  margin: 0;
  opacity: 0.8;
  width: 100%;
}

.message-subtext {
  font-size: 12px;
  line-height: 16px;
  color: var(--secondary-color);
  margin: 4px 0 0 0;
  white-space: normal;
  /* Change this line */
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.activity-line {
  padding: 8px 16px;
  display: flex;
  align-items: flex-start;
  margin-bottom: 8px;
}

.activity-link {
  font-size: 12px;
  line-height: 16px;
  color: var(--app-logo);
  text-decoration: underline;
}

.activity-text {
  font-size: 12px;
  line-height: 16px;
  color: var(--secondary-color);
  width: 100%;
  margin: 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* Limit to 2 lines */
  word-wrap: break-word;
}

.activity-text strong {
  color: #fff;
  opacity: 0.4;
  font-weight: 500;
}

.activity-icon {
  border-radius: 8px;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-right: 8px;

  &.warning {
    background-color: var(--warning-bg);
    color: var(--warning-icon);
  }

  &.applicant {
    background-color: var(--applicant-bg);
    color: var(--applicant-icon);
  }

  &.close {
    background-color: var(--close-bg);
    color: var(--close-icon);
  }

  &.draft {
    background-color: var(--draft-bg);
    color: var(--draft-icon);
  }
}

.action-buttons {
  display: flex;
  align-items: center;
}

.menu-button {
  width: 40px;
  height: 40px;
  margin-left: 8px;
  display: none;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: var(--app-bg-dark);
  border: none;
  color: var(--main-color);
  border-radius: 4px;
}

.close-menu {
  position: absolute;
  top: 16px;
  right: 16px;
  display: none;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  padding: 0;
  color: var(--main-color);
  cursor: pointer;
}

@media screen and (max-width: 1350px) {
  .app-right {
    flex-basis: 240px;
    width: 240px;
  }

  .app-left {
    flex-basis: 200px;
  }
}

@media screen and (max-width: 1200px) {
  .app-right {
    position: absolute;
    opacity: 0;
    top: 0;
    z-index: 2;
    height: 100%;
    width: 320px;
    right: -100%;
    box-shadow: 0 0 10px 5px rgba(1, 8, 31, 0.4);

    .close-right {
      position: absolute;
      top: 16px;
      right: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      background-color: transparent;
      padding: 0;
      color: var(--main-color);
      cursor: pointer;
    }
  }

  .app-main .open-right-area {
    display: flex;
    color: var(--main-color);
  }
}

@media screen and (max-width: 1180px) {
  .chart-row.two {
    flex-direction: column;
  }

  .chart-row.two .big {
    max-width: 100%;
  }

  .chart-row.two .small {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .chart-container {
      width: calc(50% - 8px);

      &.applicants {
        margin-top: 0;
      }
    }
  }
}

@media screen and (max-width: 920px) {
  .menu-button {
    display: flex;
  }

  .app-left {
    position: absolute;
    opacity: 0;
    top: 0;
    z-index: 2;
    height: 100%;
    width: 320px;
    right: -100%;
    box-shadow: 0 0 10px 5px rgba(1, 8, 31, 0.4);
  }

  .close-menu {
    display: flex;
  }
}

@media screen and (max-width: 650px) {
  .chart-row.three {
    flex-direction: column;
  }

  .chart-row.three .chart-container-wrapper {
    width: 100%;
  }

  .chart-svg {
    min-height: 60px;
    min-width: 40px;
  }
}

@media screen and (max-width: 520px) {
  .chart-row.two .small {
    flex-direction: column;
  }

  .chart-row.two .small .chart-container {
    width: 100%;

    &.applicants {
      margin-top: 16px;
    }
  }

  .main-header-line h1 {
    font-size: 14px;
  }

  .message-line.clicked {
    font-size: larger;
  }
}







/*gestionstage.blade*/
body {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  background-color: #050e2d;
  color: #e5e5e5;
  margin: 0;
}

.container {
  position: relative;
}

.close-btn {
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
  font-size: 20px;
}

.icon {
  display: inline-block;
  width: 20px;
  height: 15px;
  background-size: cover;
}

.visualize-icon {
  background-image: url('eye.PNG');
}

.crud-container {
  max-width: 800px;
  margin: 50px auto;
  background-color: #151c32;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  display: none;
}

.crud-title {
  font-size: 24px;
  color: #3d7eff;
  margin-bottom: 20px;
  text-align: center;
}

.search-bar {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#searchInput {
  width: 70%;
  padding: 8px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  box-sizing: border-box;
}

#searchBtn {
  background-color: #5e6a81;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table th,
.table td {
  border: 1px solid #e5e5e5;
  padding: 12px;
  text-align: left;
}

.table th {
  background-color: #5e6a81;
  color: #fff;
}

.crud-options {
  text-align: center;
}

.crud-options a {
  color: #3d7eff;
  margin: 0 5px;
  text-decoration: none;
  cursor: pointer;
}

.crud-options a:hover {
  text-decoration: underline;
}

.disapprove-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
}

.popup-content {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  max-width: 400px;
  margin: 0 auto;
}

.popup-input {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  box-sizing: border-box;
}

.popup-buttons {
  display: flex;
  justify-content: space-between;
}

.save-button {
  background-color: #3d7eff;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}























/*gestionstage.blade*/

:root {
  --dt-row-selected: 13, 110, 253;
  --dt-row-selected-text: 255, 255, 255;
  --dt-row-selected-link: 9, 10, 11;
  --dt-row-stripe: 0, 0, 0;
  --dt-row-hover: 0, 0, 0;
  --dt-column-ordering: 0, 0, 0;
  --dt-html-background: white
}

:root.dark {
  --dt-html-background: rgb(33, 37, 41)
}

.datatabcontainer {

  border-radius: 12px;
  background-color: #c0ddff;
  color: #000000;

}

.tab {

  max-width: 97%;
  border-radius: 15px;
  color: #000000;
}

table.dataTable td.dt-control {
  text-align: center;
  cursor: pointer
}

table.dataTable td.dt-control:before {
  display: inline-block;
  box-sizing: border-box;
  content: "";
  border-top: 5px solid transparent;
  border-left: 10px solid rgba(0, 0, 0, 0.5);
  border-bottom: 5px solid transparent;
  border-right: 0px solid transparent
}

table.dataTable tr.dt-hasChild td.dt-control:before {
  border-top: 10px solid rgba(0, 0, 0, 0.5);
  border-left: 5px solid transparent;
  border-bottom: 0px solid transparent;
  border-right: 5px solid transparent
}

html.dark table.dataTable td.dt-control:before,
:root[data-bs-theme=dark] table.dataTable td.dt-control:before {
  border-left-color: rgba(255, 255, 255, 0.5)
}

html.dark table.dataTable tr.dt-hasChild td.dt-control:before,
:root[data-bs-theme=dark] table.dataTable tr.dt-hasChild td.dt-control:before {
  border-top-color: rgba(255, 255, 255, 0.5);
  border-left-color: transparent
}

div.dt-scroll-body thead tr,
div.dt-scroll-body tfoot tr {
  height: 0
}

div.dt-scroll-body thead tr th,
div.dt-scroll-body thead tr td,
div.dt-scroll-body tfoot tr th,
div.dt-scroll-body tfoot tr td {
  height: 0 !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  border-top-width: 0px !important;
  border-bottom-width: 0px !important
}

div.dt-scroll-body thead tr th div.dt-scroll-sizing,
div.dt-scroll-body thead tr td div.dt-scroll-sizing,
div.dt-scroll-body tfoot tr th div.dt-scroll-sizing,
div.dt-scroll-body tfoot tr td div.dt-scroll-sizing {
  height: 0 !important;
  overflow: hidden !important
}

table.dataTable thead>tr>th:active,
table.dataTable thead>tr>td:active {
  outline: none
}

table.dataTable thead>tr>th.dt-orderable-asc span.dt-column-order:before,
table.dataTable thead>tr>th.dt-ordering-asc span.dt-column-order:before,
table.dataTable thead>tr>td.dt-orderable-asc span.dt-column-order:before,
table.dataTable thead>tr>td.dt-ordering-asc span.dt-column-order:before {
  position: absolute;
  display: block;
  bottom: 50%;
  content: "▲";
  content: "▲" /""
}

table.dataTable thead>tr>th.dt-orderable-desc span.dt-column-order:after,
table.dataTable thead>tr>th.dt-ordering-desc span.dt-column-order:after,
table.dataTable thead>tr>td.dt-orderable-desc span.dt-column-order:after,
table.dataTable thead>tr>td.dt-ordering-desc span.dt-column-order:after {
  position: absolute;
  display: block;
  top: 50%;
  content: "▼";
  content: "▼" /""
}

table.dataTable thead>tr>th.dt-orderable-asc,
table.dataTable thead>tr>th.dt-orderable-desc,
table.dataTable thead>tr>th.dt-ordering-asc,
table.dataTable thead>tr>th.dt-ordering-desc,
table.dataTable thead>tr>td.dt-orderable-asc,
table.dataTable thead>tr>td.dt-orderable-desc,
table.dataTable thead>tr>td.dt-ordering-asc,
table.dataTable thead>tr>td.dt-ordering-desc {
  position: relative;
  padding-right: 30px
}

table.dataTable thead>tr>th.dt-orderable-asc span.dt-column-order,
table.dataTable thead>tr>th.dt-orderable-desc span.dt-column-order,
table.dataTable thead>tr>th.dt-ordering-asc span.dt-column-order,
table.dataTable thead>tr>th.dt-ordering-desc span.dt-column-order,
table.dataTable thead>tr>td.dt-orderable-asc span.dt-column-order,
table.dataTable thead>tr>td.dt-orderable-desc span.dt-column-order,
table.dataTable thead>tr>td.dt-ordering-asc span.dt-column-order,
table.dataTable thead>tr>td.dt-ordering-desc span.dt-column-order {
  position: absolute;
  right: 12px;
  top: 0;
  bottom: 0;
  width: 12px
}

table.dataTable thead>tr>th.dt-orderable-asc span.dt-column-order:before,
table.dataTable thead>tr>th.dt-orderable-asc span.dt-column-order:after,
table.dataTable thead>tr>th.dt-orderable-desc span.dt-column-order:before,
table.dataTable thead>tr>th.dt-orderable-desc span.dt-column-order:after,
table.dataTable thead>tr>th.dt-ordering-asc span.dt-column-order:before,
table.dataTable thead>tr>th.dt-ordering-asc span.dt-column-order:after,
table.dataTable thead>tr>th.dt-ordering-desc span.dt-column-order:before,
table.dataTable thead>tr>th.dt-ordering-desc span.dt-column-order:after,
table.dataTable thead>tr>td.dt-orderable-asc span.dt-column-order:before,
table.dataTable thead>tr>td.dt-orderable-asc span.dt-column-order:after,
table.dataTable thead>tr>td.dt-orderable-desc span.dt-column-order:before,
table.dataTable thead>tr>td.dt-orderable-desc span.dt-column-order:after,
table.dataTable thead>tr>td.dt-ordering-asc span.dt-column-order:before,
table.dataTable thead>tr>td.dt-ordering-asc span.dt-column-order:after,
table.dataTable thead>tr>td.dt-ordering-desc span.dt-column-order:before,
table.dataTable thead>tr>td.dt-ordering-desc span.dt-column-order:after {
  left: 0;
  opacity: .125;
  line-height: 9px;
  font-size: .8em
}

table.dataTable thead>tr>th.dt-orderable-asc,
table.dataTable thead>tr>th.dt-orderable-desc,
table.dataTable thead>tr>td.dt-orderable-asc,
table.dataTable thead>tr>td.dt-orderable-desc {
  cursor: pointer
}

table.dataTable thead>tr>th.dt-orderable-asc:hover,
table.dataTable thead>tr>th.dt-orderable-desc:hover,
table.dataTable thead>tr>td.dt-orderable-asc:hover,
table.dataTable thead>tr>td.dt-orderable-desc:hover {
  outline: 2px solid rgba(0, 0, 0, 0.05);
  outline-offset: -2px
}

table.dataTable thead>tr>th.dt-ordering-asc span.dt-column-order:before,
table.dataTable thead>tr>th.dt-ordering-desc span.dt-column-order:after,
table.dataTable thead>tr>td.dt-ordering-asc span.dt-column-order:before,
table.dataTable thead>tr>td.dt-ordering-desc span.dt-column-order:after {
  opacity: .6
}

table.dataTable thead>tr>th.sorting_desc_disabled span.dt-column-order:after,
table.dataTable thead>tr>th.sorting_asc_disabled span.dt-column-order:before,
table.dataTable thead>tr>td.sorting_desc_disabled span.dt-column-order:after,
table.dataTable thead>tr>td.sorting_asc_disabled span.dt-column-order:before {
  display: none
}

table.dataTable thead>tr>th:active,
table.dataTable thead>tr>td:active {
  outline: none
}

div.dt-scroll-body>table.dataTable>thead>tr>th,
div.dt-scroll-body>table.dataTable>thead>tr>td {
  overflow: hidden
}

:root.dark table.dataTable thead>tr>th.dt-orderable-asc:hover,
:root.dark table.dataTable thead>tr>th.dt-orderable-desc:hover,
:root.dark table.dataTable thead>tr>td.dt-orderable-asc:hover,
:root.dark table.dataTable thead>tr>td.dt-orderable-desc:hover,
:root[data-bs-theme=dark] table.dataTable thead>tr>th.dt-orderable-asc:hover,
:root[data-bs-theme=dark] table.dataTable thead>tr>th.dt-orderable-desc:hover,
:root[data-bs-theme=dark] table.dataTable thead>tr>td.dt-orderable-asc:hover,
:root[data-bs-theme=dark] table.dataTable thead>tr>td.dt-orderable-desc:hover {
  outline: 2px solid rgba(255, 255, 255, 0.05)
}

div.dt-processing {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  margin-top: -22px;
  text-align: center;
  padding: 2px;
  z-index: 10
}

div.dt-processing>div:last-child {
  position: relative;
  width: 80px;
  height: 15px;
  margin: 1em auto
}

div.dt-processing>div:last-child>div {
  position: absolute;
  top: 0;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: rgb(13, 110, 253);
  background: rgb(var(--dt-row-selected));
  animation-timing-function: cubic-bezier(0, 1, 1, 0)
}

div.dt-processing>div:last-child>div:nth-child(1) {
  left: 8px;
  animation: datatables-loader-1 .6s infinite
}

div.dt-processing>div:last-child>div:nth-child(2) {
  left: 8px;
  animation: datatables-loader-2 .6s infinite
}

div.dt-processing>div:last-child>div:nth-child(3) {
  left: 32px;
  animation: datatables-loader-2 .6s infinite
}

div.dt-processing>div:last-child>div:nth-child(4) {
  left: 56px;
  animation: datatables-loader-3 .6s infinite
}

@keyframes datatables-loader-1 {
  0% {
    transform: scale(0)
  }

  100% {
    transform: scale(1)
  }
}

@keyframes datatables-loader-3 {
  0% {
    transform: scale(1)
  }

  100% {
    transform: scale(0)
  }
}

@keyframes datatables-loader-2 {
  0% {
    transform: translate(0, 0)
  }

  100% {
    transform: translate(24px, 0)
  }
}

table.dataTable.nowrap th,
table.dataTable.nowrap td {
  white-space: nowrap
}

table.dataTable th,
table.dataTable td {
  box-sizing: border-box
}

table.dataTable th.dt-left,
table.dataTable td.dt-left {
  text-align: left
}

table.dataTable th.dt-center,
table.dataTable td.dt-center {
  text-align: center
}

table.dataTable th.dt-right,
table.dataTable td.dt-right {
  text-align: right
}

table.dataTable th.dt-justify,
table.dataTable td.dt-justify {
  text-align: justify
}

table.dataTable th.dt-nowrap,
table.dataTable td.dt-nowrap {
  white-space: nowrap
}

table.dataTable th.dt-empty,
table.dataTable td.dt-empty {
  text-align: center;
  vertical-align: top
}

table.dataTable th.dt-type-numeric,
table.dataTable th.dt-type-date,
table.dataTable td.dt-type-numeric,
table.dataTable td.dt-type-date {
  text-align: right
}

table.dataTable thead th,
table.dataTable thead td,
table.dataTable tfoot th,
table.dataTable tfoot td {
  text-align: left
}

table.dataTable thead th.dt-head-left,
table.dataTable thead td.dt-head-left,
table.dataTable tfoot th.dt-head-left,
table.dataTable tfoot td.dt-head-left {
  text-align: left
}

table.dataTable thead th.dt-head-center,
table.dataTable thead td.dt-head-center,
table.dataTable tfoot th.dt-head-center,
table.dataTable tfoot td.dt-head-center {
  text-align: center
}

table.dataTable thead th.dt-head-right,
table.dataTable thead td.dt-head-right,
table.dataTable tfoot th.dt-head-right,
table.dataTable tfoot td.dt-head-right {
  text-align: right
}

table.dataTable thead th.dt-head-justify,
table.dataTable thead td.dt-head-justify,
table.dataTable tfoot th.dt-head-justify,
table.dataTable tfoot td.dt-head-justify {
  text-align: justify
}

table.dataTable thead th.dt-head-nowrap,
table.dataTable thead td.dt-head-nowrap,
table.dataTable tfoot th.dt-head-nowrap,
table.dataTable tfoot td.dt-head-nowrap {
  white-space: nowrap
}

table.dataTable tbody th.dt-body-left,
table.dataTable tbody td.dt-body-left {
  text-align: left
}

table.dataTable tbody th.dt-body-center,
table.dataTable tbody td.dt-body-center {
  text-align: center
}

table.dataTable tbody th.dt-body-right,
table.dataTable tbody td.dt-body-right {
  text-align: right
}

table.dataTable tbody th.dt-body-justify,
table.dataTable tbody td.dt-body-justify {
  text-align: justify
}

table.dataTable tbody th.dt-body-nowrap,
table.dataTable tbody td.dt-body-nowrap {
  white-space: nowrap
}

table.dataTable {
  width: 100%;
  margin: 0 auto;
  border-spacing: 0
}

table.dataTable thead th,
table.dataTable tfoot th {
  font-weight: bold
}

table.dataTable>thead>tr>th,
table.dataTable>thead>tr>td {
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3)
}

table.dataTable>thead>tr>th:active,
table.dataTable>thead>tr>td:active {
  outline: none
}

table.dataTable>tfoot>tr>th,
table.dataTable>tfoot>tr>td {
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  padding: 10px 10px 6px 10px
}

table.dataTable>tbody>tr {
  background-color: transparent
}

table.dataTable>tbody>tr:first-child>* {
  border-top: none
}

table.dataTable>tbody>tr:last-child>* {
  border-bottom: none
}

table.dataTable>tbody>tr.selected>* {
  box-shadow: inset 0 0 0 9999px rgba(13, 110, 253, 0.9);
  box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-selected), 0.9);
  color: rgb(255, 255, 255);
  color: rgb(var(--dt-row-selected-text))
}

table.dataTable>tbody>tr.selected a {
  color: rgb(9, 10, 11);
  color: rgb(var(--dt-row-selected-link))
}

table.dataTable>tbody>tr>th,
table.dataTable>tbody>tr>td {
  padding: 8px 10px
}

table.dataTable.row-border>tbody>tr>*,
table.dataTable.display>tbody>tr>* {
  border-top: 1px solid rgba(0, 0, 0, 0.15)
}

table.dataTable.row-border>tbody>tr:first-child>*,
table.dataTable.display>tbody>tr:first-child>* {
  border-top: none
}

table.dataTable.row-border>tbody>tr.selected+tr.selected>td,
table.dataTable.display>tbody>tr.selected+tr.selected>td {
  border-top-color: rgba(13, 110, 253, 0.65);
  border-top-color: rgba(var(--dt-row-selected), 0.65)
}

table.dataTable.cell-border>tbody>tr>* {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  border-right: 1px solid rgba(0, 0, 0, 0.15)
}

table.dataTable.cell-border>tbody>tr>*:first-child {
  border-left: 1px solid rgba(0, 0, 0, 0.15)
}

table.dataTable.cell-border>tbody>tr:first-child>* {
  border-top: 1px solid rgba(0, 0, 0, 0.3)
}

table.dataTable.stripe>tbody>tr:nth-child(odd)>*,
table.dataTable.display>tbody>tr:nth-child(odd)>* {
  box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.023);
  box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-stripe), 0.023)
}

table.dataTable.stripe>tbody>tr:nth-child(odd).selected>*,
table.dataTable.display>tbody>tr:nth-child(odd).selected>* {
  box-shadow: inset 0 0 0 9999px rgba(13, 110, 253, 0.923);
  box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-selected), 0.923)
}

table.dataTable.hover>tbody>tr:hover>*,
table.dataTable.display>tbody>tr:hover>* {
  box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.035);
  box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-hover), 0.035)
}

table.dataTable.hover>tbody>tr.selected:hover>*,
table.dataTable.display>tbody>tr.selected:hover>* {
  box-shadow: inset 0 0 0 9999px #0d6efd !important;
  box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-selected), 1) !important
}

table.dataTable.order-column>tbody tr>.sorting_1,
table.dataTable.order-column>tbody tr>.sorting_2,
table.dataTable.order-column>tbody tr>.sorting_3,
table.dataTable.display>tbody tr>.sorting_1,
table.dataTable.display>tbody tr>.sorting_2,
table.dataTable.display>tbody tr>.sorting_3 {
  box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.019);
  box-shadow: inset 0 0 0 9999px rgba(var(--dt-column-ordering), 0.019)
}

table.dataTable.order-column>tbody tr.selected>.sorting_1,
table.dataTable.order-column>tbody tr.selected>.sorting_2,
table.dataTable.order-column>tbody tr.selected>.sorting_3,
table.dataTable.display>tbody tr.selected>.sorting_1,
table.dataTable.display>tbody tr.selected>.sorting_2,
table.dataTable.display>tbody tr.selected>.sorting_3 {
  box-shadow: inset 0 0 0 9999px rgba(13, 110, 253, 0.919);
  box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-selected), 0.919)
}

table.dataTable.display>tbody>tr:nth-child(odd)>.sorting_1,
table.dataTable.order-column.stripe>tbody>tr:nth-child(odd)>.sorting_1 {
  box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.054);
  box-shadow: inset 0 0 0 9999px rgba(var(--dt-column-ordering), 0.054)
}

table.dataTable.display>tbody>tr:nth-child(odd)>.sorting_2,
table.dataTable.order-column.stripe>tbody>tr:nth-child(odd)>.sorting_2 {
  box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.047);
  box-shadow: inset 0 0 0 9999px rgba(var(--dt-column-ordering), 0.047)
}

table.dataTable.display>tbody>tr:nth-child(odd)>.sorting_3,
table.dataTable.order-column.stripe>tbody>tr:nth-child(odd)>.sorting_3 {
  box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.039);
  box-shadow: inset 0 0 0 9999px rgba(var(--dt-column-ordering), 0.039)
}

table.dataTable.display>tbody>tr:nth-child(odd).selected>.sorting_1,
table.dataTable.order-column.stripe>tbody>tr:nth-child(odd).selected>.sorting_1 {
  box-shadow: inset 0 0 0 9999px rgba(13, 110, 253, 0.954);
  box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-selected), 0.954)
}

table.dataTable.display>tbody>tr:nth-child(odd).selected>.sorting_2,
table.dataTable.order-column.stripe>tbody>tr:nth-child(odd).selected>.sorting_2 {
  box-shadow: inset 0 0 0 9999px rgba(13, 110, 253, 0.947);
  box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-selected), 0.947)
}

table.dataTable.display>tbody>tr:nth-child(odd).selected>.sorting_3,
table.dataTable.order-column.stripe>tbody>tr:nth-child(odd).selected>.sorting_3 {
  box-shadow: inset 0 0 0 9999px rgba(13, 110, 253, 0.939);
  box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-selected), 0.939)
}

table.dataTable.display>tbody>tr.even>.sorting_1,
table.dataTable.order-column.stripe>tbody>tr.even>.sorting_1 {
  box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.019);
  box-shadow: inset 0 0 0 9999px rgba(var(--dt-column-ordering), 0.019)
}

table.dataTable.display>tbody>tr.even>.sorting_2,
table.dataTable.order-column.stripe>tbody>tr.even>.sorting_2 {
  box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.011);
  box-shadow: inset 0 0 0 9999px rgba(var(--dt-column-ordering), 0.011)
}

table.dataTable.display>tbody>tr.even>.sorting_3,
table.dataTable.order-column.stripe>tbody>tr.even>.sorting_3 {
  box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.003);
  box-shadow: inset 0 0 0 9999px rgba(var(--dt-column-ordering), 0.003)
}

table.dataTable.display>tbody>tr.even.selected>.sorting_1,
table.dataTable.order-column.stripe>tbody>tr.even.selected>.sorting_1 {
  box-shadow: inset 0 0 0 9999px rgba(13, 110, 253, 0.919);
  box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-selected), 0.919)
}

table.dataTable.display>tbody>tr.even.selected>.sorting_2,
table.dataTable.order-column.stripe>tbody>tr.even.selected>.sorting_2 {
  box-shadow: inset 0 0 0 9999px rgba(13, 110, 253, 0.911);
  box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-selected), 0.911)
}

table.dataTable.display>tbody>tr.even.selected>.sorting_3,
table.dataTable.order-column.stripe>tbody>tr.even.selected>.sorting_3 {
  box-shadow: inset 0 0 0 9999px rgba(13, 110, 253, 0.903);
  box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-selected), 0.903)
}

table.dataTable.display tbody tr:hover>.sorting_1,
table.dataTable.order-column.hover tbody tr:hover>.sorting_1 {
  box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.082);
  box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-hover), 0.082)
}

table.dataTable.display tbody tr:hover>.sorting_2,
table.dataTable.order-column.hover tbody tr:hover>.sorting_2 {
  box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.074);
  box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-hover), 0.074)
}

table.dataTable.display tbody tr:hover>.sorting_3,
table.dataTable.order-column.hover tbody tr:hover>.sorting_3 {
  box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.062);
  box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-hover), 0.062)
}

table.dataTable.display tbody tr:hover.selected>.sorting_1,
table.dataTable.order-column.hover tbody tr:hover.selected>.sorting_1 {
  box-shadow: inset 0 0 0 9999px rgba(13, 110, 253, 0.982);
  box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-selected), 0.982)
}

table.dataTable.display tbody tr:hover.selected>.sorting_2,
table.dataTable.order-column.hover tbody tr:hover.selected>.sorting_2 {
  box-shadow: inset 0 0 0 9999px rgba(13, 110, 253, 0.974);
  box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-selected), 0.974)
}

table.dataTable.display tbody tr:hover.selected>.sorting_3,
table.dataTable.order-column.hover tbody tr:hover.selected>.sorting_3 {
  box-shadow: inset 0 0 0 9999px rgba(13, 110, 253, 0.962);
  box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-selected), 0.962)
}

table.dataTable.compact thead th,
table.dataTable.compact thead td,
table.dataTable.compact tfoot th,
table.dataTable.compact tfoot td,
table.dataTable.compact tbody th,
table.dataTable.compact tbody td {
  padding: 4px
}

div.dt-container {
  position: relative;
  clear: both
}

div.dt-container div.dt-layout-row {
  display: table;
  clear: both;
  width: 100%
}

div.dt-container div.dt-layout-row.dt-layout-table {
  display: block
}

div.dt-container div.dt-layout-row.dt-layout-table div.dt-layout-cell {
  display: block
}

div.dt-container div.dt-layout-cell {
  display: table-cell;
  vertical-align: middle;
  padding: 5px 0
}

div.dt-container div.dt-layout-cell.dt-full {
  text-align: center
}

div.dt-container div.dt-layout-cell.dt-start {
  text-align: left
}

div.dt-container div.dt-layout-cell.dt-end {
  text-align: right
}

div.dt-container div.dt-layout-cell:empty {
  display: none
}

div.dt-container .dt-search input {
  border: 1px solid #aaa;
  border-radius: 10px;
  padding: 5px;
  background-color: transparent;
  color: #35374B;
  margin-left: 10px
}

div.dt-container .dt-input {
  border: 1px solid #aaa;
  border-radius: 3px;
  padding: 5px;
  background-color: transparent;
  color: inherit
}

div.dt-container select.dt-input {
  padding: 4px;

  margin-right: 10px;
  border-radius: 10px;


}

div.dt-container .dt-paging .dt-paging-button {
  box-sizing: border-box;
  display: inline-block;
  min-width: 1.5em;
  padding: .5em 1em;
  margin-left: 2px;
  text-align: center;
  text-decoration: none !important;
  cursor: pointer;
  color: inherit !important;
  border: 1px solid transparent;
  border-radius: 10px;
  background: transparent
}

div.dt-container .dt-paging .dt-paging-button.current,
div.dt-container .dt-paging .dt-paging-button.current:hover {
  color: inherit !important;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.05);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(230, 230, 230, 0.05)), color-stop(100%, rgba(0, 0, 0, 0.05)));
  background: -webkit-linear-gradient(top, rgba(230, 230, 230, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%);
  background: -moz-linear-gradient(top, rgba(230, 230, 230, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%);
  background: -ms-linear-gradient(top, rgba(230, 230, 230, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%);
  background: -o-linear-gradient(top, rgba(230, 230, 230, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%);
  background: linear-gradient(to bottom, rgba(230, 230, 230, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%)
}

div.dt-container .dt-paging .dt-paging-button.disabled,
div.dt-container .dt-paging .dt-paging-button.disabled:hover,
div.dt-container .dt-paging .dt-paging-button.disabled:active {
  cursor: default;
  color: rgba(34, 255, 251, 0.599) !important;
  border: 1px solid transparent;
  background: transparent;
  box-shadow: none
}

div.dt-container .dt-paging .dt-paging-button:hover {
  color: white !important;
  border: 1px solid #111;
  background-color: #111;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #585858), color-stop(100%, #111));
  background: -webkit-linear-gradient(top, #585858 0%, #111 100%);
  background: -moz-linear-gradient(top, #585858 0%, #111 100%);
  background: -ms-linear-gradient(top, #585858 0%, #111 100%);
  background: -o-linear-gradient(top, #585858 0%, #111 100%);
  background: linear-gradient(to bottom, #585858 0%, #111 100%)
}

div.dt-container .dt-paging .dt-paging-button:active {
  outline: none;
  background-color: #0c0c0c;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2b2b2b), color-stop(100%, #0c0c0c));
  background: -webkit-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
  background: -moz-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
  background: -ms-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
  background: -o-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
  background: linear-gradient(to bottom, #2b2b2b 0%, #0c0c0c 100%);
  box-shadow: inset 0 0 3px #111
}

div.dt-container .dt-paging .ellipsis {
  padding: 0 1em
}

div.dt-container .dt-length,
div.dt-container .dt-search,
div.dt-container .dt-info,
div.dt-container .dt-processing,
div.dt-container .dt-paging {
  color: inherit;
  margin-left: 10px;
  margin-right: 10px;
}

div.dt-container .dataTables_scroll {
  clear: both
}

div.dt-container .dataTables_scroll div.dt-scroll-body {
  -webkit-overflow-scrolling: touch
}

div.dt-container .dataTables_scroll div.dt-scroll-body>table>thead>tr>th,
div.dt-container .dataTables_scroll div.dt-scroll-body>table>thead>tr>td,
div.dt-container .dataTables_scroll div.dt-scroll-body>table>tbody>tr>th,
div.dt-container .dataTables_scroll div.dt-scroll-body>table>tbody>tr>td {
  vertical-align: middle
}

div.dt-container .dataTables_scroll div.dt-scroll-body>table>thead>tr>th>div.dataTables_sizing,
div.dt-container .dataTables_scroll div.dt-scroll-body>table>thead>tr>td>div.dataTables_sizing,
div.dt-container .dataTables_scroll div.dt-scroll-body>table>tbody>tr>th>div.dataTables_sizing,
div.dt-container .dataTables_scroll div.dt-scroll-body>table>tbody>tr>td>div.dataTables_sizing {
  height: 0;
  overflow: hidden;
  margin: 0 !important;
  padding: 0 !important
}

div.dt-container.dt-empty-footer tbody>tr:last-child>* {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3)
}

div.dt-container.dt-empty-footer .dt-scroll-body {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3)
}

div.dt-container.dt-empty-footer .dt-scroll-body tbody>tr:last-child>* {
  border-bottom: none
}

@media screen and (max-width: 767px) {
  div.dt-container div.dt-layout-row {
    display: block
  }

  div.dt-container div.dt-layout-cell {
    display: block
  }

  div.dt-container div.dt-layout-cell.dt-full,
  div.dt-container div.dt-layout-cell.dt-start,
  div.dt-container div.dt-layout-cell.dt-end {
    text-align: center
  }
}

@media screen and (max-width: 640px) {

  .dt-container .dt-length,
  .dt-container .dt-search {
    float: none;
    text-align: center
  }

  .dt-container .dt-search {
    margin-top: .5em
  }
}

html.dark {
  --dt-row-hover: 255, 255, 255;
  --dt-row-stripe: 255, 255, 255;
  --dt-column-ordering: 255, 255, 255
}

html.dark table.dataTable>thead>tr>th,
html.dark table.dataTable>thead>tr>td {
  border-bottom: 1px solid rgb(89, 91, 94)
}

html.dark table.dataTable>thead>tr>th:active,
html.dark table.dataTable>thead>tr>td:active {
  outline: none
}

html.dark table.dataTable>tfoot>tr>th,
html.dark table.dataTable>tfoot>tr>td {
  border-top: 1px solid rgb(89, 91, 94)
}

html.dark table.dataTable.row-border>tbody>tr>*,
html.dark table.dataTable.display>tbody>tr>* {
  border-top: 1px solid rgb(64, 67, 70)
}

html.dark table.dataTable.row-border>tbody>tr:first-child>*,
html.dark table.dataTable.display>tbody>tr:first-child>* {
  border-top: none
}

html.dark table.dataTable.row-border>tbody>tr.selected+tr.selected>td,
html.dark table.dataTable.display>tbody>tr.selected+tr.selected>td {
  border-top-color: rgba(13, 110, 253, 0.65);
  border-top-color: rgba(var(--dt-row-selected), 0.65)
}

html.dark table.dataTable.cell-border>tbody>tr>th,
html.dark table.dataTable.cell-border>tbody>tr>td {
  border-top: 1px solid rgb(64, 67, 70);
  border-right: 1px solid rgb(64, 67, 70)
}

html.dark table.dataTable.cell-border>tbody>tr>th:first-child,
html.dark table.dataTable.cell-border>tbody>tr>td:first-child {
  border-left: 1px solid rgb(64, 67, 70)
}

html.dark .dt-container.dt-empty-footer table.dataTable {
  border-bottom: 1px solid rgb(89, 91, 94)
}

html.dark .dt-container .dt-search input,
html.dark .dt-container .dt-length select {
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: var(--dt-html-background)
}

html.dark .dt-container .dt-paging .dt-paging-button.current,
html.dark .dt-container .dt-paging .dt-paging-button.current:hover {
  border: 1px solid rgb(89, 91, 94);
  background: rgba(255, 255, 255, 0.15)
}

html.dark .dt-container .dt-paging .dt-paging-button.disabled,
html.dark .dt-container .dt-paging .dt-paging-button.disabled:hover,
html.dark .dt-container .dt-paging .dt-paging-button.disabled:active {
  color: #666 !important
}

html.dark .dt-container .dt-paging .dt-paging-button:hover {
  border: 1px solid rgb(53, 53, 53);
  background: rgb(53, 53, 53)
}

html.dark .dt-container .dt-paging .dt-paging-button:active {
  background: #3a3a3a
}

*[dir=rtl] table.dataTable thead th,
*[dir=rtl] table.dataTable thead td,
*[dir=rtl] table.dataTable tfoot th,
*[dir=rtl] table.dataTable tfoot td {
  text-align: right
}

*[dir=rtl] table.dataTable th.dt-type-numeric,
*[dir=rtl] table.dataTable th.dt-type-date,
*[dir=rtl] table.dataTable td.dt-type-numeric,
*[dir=rtl] table.dataTable td.dt-type-date {
  text-align: left
}

*[dir=rtl] div.dt-container div.dt-layout-cell.dt-start {
  text-align: right
}

*[dir=rtl] div.dt-container div.dt-layout-cell.dt-end {
  text-align: left
}

*[dir=rtl] div.dt-container div.dt-search input {
  margin: 0 3px 0 0
}







/*edocument.blade*/

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  margin: 0 auto; /* Center the container horizontally */
  margin-bottom: 20px;
  padding: 0 10px; /* Add padding to adjust for smaller screens */
}

#searchInput {
  --in-out-duration: 0.5s;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  outline: none;
  background-color: #fff;
  transition: transform var(--in-out-duration);
  width: 100%; /* Make the input fill the container */
  max-width: 250px; /* Limit the maximum width */
}

.search-container:hover #searchInput {
  transform: translate(4px) scale(1.1);
}

#searchInput:focus {
  border-color: #2F88FF;
  box-shadow: 0 0 5px rgba(47, 136, 255, 0.5);
  background-color: #f2faff;
}

#searchInput::placeholder {
  color: #999;
  transition: color 0.3s ease;
}

#searchInput:focus::placeholder {
  animation: shake 0.3s ease forwards;
}

@keyframes shake {
  0% {
    transform: translateX(-2px);
  }

  50% {
    transform: translateX(2px);
  }

  100% {
    transform: translateX(-2px);
  }
}

.document-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr)); /* Use auto-fit to adjust columns based on available width */
  gap: 30px;
}

.card {
  position: relative;
  background-color: #5e6a81;
  border: none;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 200px;
  transition: transform 0.3s ease;
}

.card h3 {
  margin: 0;
  font-size: 14px;
  color: #ffffff;
}

.view-document {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 6px 12px;
  font-size: 12px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.view-document:hover {
  background-color: #0056b3;
}

.card:hover {
  transform: scale(1.05);
}

@media screen and (min-width: 750px) {
  .search-container {
    margin-left: 30px;
    margin-right: 10px;
  }
}




/*messtages.blade*/

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: rgba(224, 224, 224, .1);
}

table {
  margin: .3 em;

}

a {
  color: rgba(38, 137, 13, 1);

  &:hover,
  &:focus {
    color: rgba(4, 106, 56, 1);
  }
}

.containers {
  margin: 3%;
  width: 94%;
  height: 30%;

  @media (min-width: 48em) {
    margin: 2%;
    width: 96%;
  }

  @media (min-width: 75em) {
    margin: 2em auto;
    max-width: 75em;
  }
}

.responsive-table {
  width: 100%;
  height: 100%;
  position: relative;

  margin-bottom: 1.5em;
  border-spacing: 0;

  @media (min-width: 48em) {
    font-size: .9em;
  }

  @media (min-width: 62em) {
    font-size: 1em;
  }






  thead {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
   
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;

    @media (min-width: 48em) {
      
      position: relative;
      clip: auto;
      height: auto;
      width: auto;
      overflow: auto;
    }

    th {
      background-color: rgba(38, 137, 13, .25);
      border: 0.1px solid rgba(134, 188, 37, 1);
      font-weight: normal;
      text-align: center;
      color: white;

      &:first-of-type {
        text-align: left;
      }
    }
  }

 
  tbody,
  tr,
  th,
  td {
    display: block;
    padding: 0;
    text-align: left;
    white-space: normal;
  }

  tr {
    @media (min-width: 48em) {
   
      display: table-row;
    }
  }

  th,
  td {
    padding: .5em;
    vertical-align: middle;

    @media (min-width: 30em) {
      padding: .75em .5em;
    }

    @media (min-width: 48em) {
      /*Undo display: block*/
      display: table-cell;
      padding: .5em;
    }

    @media (min-width: 62em) {
      padding: .75em .5em;
    }

    @media (min-width: 75em) {
      padding: .75em;
    }
  }

  caption {
    margin-bottom: 1em;
    font-size: 1em;
    font-weight: bold;
    text-align: center;

    @media (min-width: 48em) {
      font-size: 1.5em;
    }
  }

  tfoot {
    font-size: .8em;
    font-style: italic;

    @media (min-width: 62em) {
      font-size: .9em;
    }
  }

  tbody {
    @media (min-width: 48em) {
    
      display: table-row-group;
    }

    tr {
      margin-bottom: 1em;

      @media (min-width: 48em) {
       
        display: table-row;
        border-width: 1px;
      }

      &:last-of-type {
        margin-bottom: 0;
      }

      &:nth-of-type(even) {
        @media (min-width: 48em) {
          background-color: rgba(192, 192, 192, .15);
        }
      }
    }

    th[scope="row"] {
      background-color: rgba(38, 137, 13, 1);
      color: white;

      @media (min-width: 30em) {
        border-left: 1px solid rgba(134, 188, 37, 1);
        border-bottom: 1px solid rgba(134, 188, 37, 1);
      }

      @media (min-width: 48em) {
        background-color: transparent;
        color: rgba(192, 192, 192, .8);
        text-align: left;
      }
    }

    td {
      text-align: right;

      @media (min-width: 48em) {
        border-left: 1px solid rgba(134, 188, 37, 1);
        border-bottom: 1px solid rgba(134, 188, 37, 1);
        text-align: center;
      }

      &:last-of-type {
        @media (min-width: 48em) {
          border-right: 1px solid rgba(134, 188, 37, 1);
        }
      }
    }

    td[data-type=currency] {
      text-align: right;
    }

    td[data-title]:before {
      content: attr(data-title);
      float: left;
      font-size: .8em;
      color: rgba(192, 192, 192, .87);

      @media (min-width: 30em) {
        font-size: .9em;
      }

      @media (min-width: 48em) {
      
        content: none;
      }
    }
  }
}

/**/